<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <form action="/api/users/login" method="POST" id="loginForm">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="email" name="email" class="form-control" />
          <label class="form-label" for="form2Example1">Correo electrónico</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
          />
          <label class="form-label" for="form2Example2">Contraseña</label>
        </div>

        <input
          class="btn btn-primary btn-block mb-4"
          type="submit"
          value="Iniciar Sesión"
        />
      </form>
      <a href="/api/auth/github">
        <input
          class="btn btn-primary btn-block mb-4"
          type="submit"
          value="Iniciar con Github"
        />
      </a>
      <a href="/api/users/register">Registrarse</a>
    </div>
  </div>
</div>