<div>
  <h1>Lista de productos </h1>
  <table>
    <thead>
      <tr>
        <td>Nombre</td>
        <td>Descripción</td>
        <td>Precio</td>
        <td>Imagen</td>
        <td>Stock</td>
        <td>Categoría</td>
      </tr>
    </thead>
    <tbody id="tableProducts">
    </tbody>
  </table>
</div>