<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <form method="POST">
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input id="name" name="name" class="form-control" />
          <label class="form-label" for="name">Nombre</label>
        </div>
        <div class="form-outline mb-4">
          <input id="lastname" name="lastname" class="form-control" />
          <label class="form-label" for="lastname">Apellido</label>
        </div>
        <div class="form-outline mb-4">
          <input type="email" id="email" name="email" class="form-control" />
          <label class="form-label" for="form2Example1">Correo electrónico</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
          />
          <label class="form-label" for="form2Example2">Contraseña</label>
        </div>

        <div class="form-outline mb-4">
          <input id="age" name="age" class="form-control" />
          <label class="form-label" for="age">Edad</label>
        </div>

        <input
          class="btn btn-primary btn-block mb-4"
          type="submit"
          value="Registrarse"
        />
      </form>
    </div>
  </div>
</div>